@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
}

.flex-1 {
  height: 100%;
}

.marker {
  width: 13px;
  height: 13px;
  background-color: blue;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}